
.row {
	display: flex;
}
.row input{
	padding: 15px 20px ;
	border-radius: 10px;
	letter-spacing: 5px;
}
.btn {
	width: 48px;
	height: 48px;
	background: #ffd700;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 3px;
}

.btn:active {
	background: #ffb700;
}

.result {
	color : #ffa600;
}

.result:disabled {
	background-color: white;
	border: solid 1px #ffe100;
	font-size: 14px;
}